/* GENERAL */

hr {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
}

/* BUTTONS */
.btn {
  height: 40px;
  width: 200px;
  border: 0px;
  border-radius: 4px;
}

.btn-flex {
  height: auto;
  width: auto;
  border: 0px;
  border-radius: 4px;
}

/* FONTS */
.extra-large-font {
  font-size: calc(16px + 2vh);
}


.large-font {
  font-size: calc(12px + 2vh);

}

.normal-font {
  font-size: calc(8px + 2vh);

}

.small-font {
  font-size: calc(4px + 2vh);

}

.extra-small-font {
  font-size: calc(0px + 2vh);

}

/* BACKGROUNDS */
.backg-tr {
  background: transparent;
}

/* COLORS */
.color-white {
  color: white;
}

.color-black {
  color: black;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* HEADER RELATED*/
.header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header-background {
  background: url('static/imgs/restaurant_home.jpg') no-repeat fixed center;
  background-size: cover;
  filter: blur(3px);
  height: 100vh;
  width: 100%;
  position: relative;
}
.header-content {
  position: absolute;
}

/* BODY RELATED*/
.g-map {
  display: inline-block;
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
}


.g-map-header {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 7vh;
  margin: 0 auto 0 auto;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 5px;
}


.filter-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.dropdown-menu-button:hover .dropdown-menu {
  display: flex;
}


.dropdown-menu {
  display: none;
  flex-direction: column;

}

.pre-text {
  margin: 0;
}


.g-map-header-slider {
  display: inline-flex;
  /*flex-direction: column;*/
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 80%;
  min-height: 7vh;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 auto 0 auto;
  top: 80px;
  right: 0;
  left: 0;
  border-radius: 5px;
}

.slider-ticks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /*left: 35px;*/
  /*right: 20px;*/
}



.g-map-sidebar {
  position: absolute;
  width: 15%;
  height: 80%;
  background: rgba(0, 0, 0, 0.7);
  top: 100px;
  left: 25px;
}

.g-map-sidebar-content {
  margin: 0;
  padding: 0;
}

.area-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer;
}


.area-container-content-uplayer {
  display: flex;
  flex-direction: row;
  text-align: left;
  /*justify-content: space-evenly;*/

}

.accu-numbers {
  margin: 0 0 0 2vh;
  flex-basis: 10%;
  padding: 0;
}

.accu-name {
  margin: 0;
  flex-basis: 60%;
}

.accu-score {
  margin: 0;
  flex-basis: 20%;
}

.area-container-content-downlayer {
  margin: 0 0 0 5vh;
  text-align: left;
}

.accd-paragraph {
  margin: 0 0 1vh 0;
}
