
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    background: white;
}